includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon
parameters:
    excludes_analyse:
    ignoreErrors:


